nav {
    text-align: center;
    font-size: 28px;
}
a{
    text-display: none;
    color: orange;
    font-width: bold;
}
body {
    background-color: #7DFFC8;
}
#bold-font {
    font-size: 20px;
    font-family: 'Times New Roman';
    background-color: white;
}
#div-imagine{
    border: 3px solid yellow;
    text-align: center;
}